/* CSS Externo */

/* Definir as cores Tema Dark */
/* raiz */
:root,
:root[data-theme='dark'] {
    --cor-fundo: #1b1b1b;
    --cor-texto: #e9e9e9;
    --menu-link: #e9e9e9;
    
}

:root[data-theme='light'] {
    --cor-fundo: #e9e9e9;
    --cor-texto: #1b1b1b;
    --menu-link: #1b1b1b;
 
}



body {
    background: var(--cor-fundo); /* cor fundo */
    color: var(--cor-texto); /* cor TEXTOS */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
   color: var(--menu-link);
   text-decoration: none;
}

ul {
    list-style: none;  /* Estilo de Lista */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: var(--cor-fundo);
    border-bottom: 5px solid #fff;

}

.menu-desktop {
    background: var(--cor-fundo);
    display: none;
    /* esconde o menu desktop */

}

/* NAV = UL // OL */
.menu  {
    display: flex; /* em linha // horizontal */
    gap: 1rem; /* 16px */
    align-items: center;
}

/* LI = listas */
.menu-item { 
    width: 100%;
}

.menu-link {
    display: flex;
    align-items: center;
}

.menu-text {
    color: var(--menu-link);
    font-size: 1.2rem;
    text-transform: uppercase;
}

/*--- Menu Hamburger
botao menu mobile  ----- */

#menuHamburger {
    margin-left: 1rem;
}

.btn-menu-mobile {
    background: transparent;
    border: none;
    cursor: pointer;
    color: var(--cor-texto);
    display: flex;
    font-size: 1.8rem;
    align-items: center;
    justify-content: center;
    padding: 0.5rem;
}






/* Medidas Responsivas */
@media (min-width: 768px) {
    .menu-desktop {
        display: flex;
    }
    .btn-menu-mobile {
        display: none;
    }
}

