/* CSS Externo */

/* Definir as cores Tema Dark */
/* raiz */
:root,
:root[data-theme='dark'] {
    --cor-fundo: #1b1b1b;
    --cor-texto: #e9e9e9;
    --menu-link: rgb(100, 246, 246);
}

:root[data-theme='light'] {
    --cor-fundo: #e9e9e9;
    --cor-texto: #1b1b1b;
    --menu-link: rgb(26, 66, 66);
}



body {
    background: var(--cor-fundo); /* cor fundo */
    color: var(--cor-texto); /* cor TEXTOS */
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

a {
   color: var(--menu-link);
   text-decoration: none;
}

ul {
    list-style: none;  /* Estilo de Lista */
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background: var(--cor-fundo);
    border-bottom: 5px solid #fff;
}

.menu-desktop {
    background: ;
    display: none;
    /* esconde o menu desktop */
}

/* Medidas Responsivas */
@media (min-width: 768px) {
    .menu-desktop {
        display: flex;
    }
}

